.container {
  width: 100%;
  min-height: 530px;
  width: 100%;
  background: url("../../../assets/images/backgroundIntroduce.png") no-repeat -170px;
  position: relative;
}

.content {
  max-width: 600px;
  position: absolute;
  top: 140px;
  left: 150px;
}

.heading {
  font-size: 40px;
  font-weight: 800;
}

.description {
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
}

.button {
  background-color: #fff;
  border-radius: 30px;
  padding: 15px;
  margin-top: 20px;
  color: #000;
  box-shadow: 0 3.80916px 11.4275px rgba(148, 184, 147, 0.22);
}
