.searchInput {
  flex: 1;
  background-color: #fff;
  border: 1px solid #1976d2;
  outline: none;
  padding-left: 24px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--text);
}

.searchBtn {
  border-radius: 0px;
  width: 56px;
  height: 40px;
  background-color: #1976d2;
}
