.container {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  background-color: var(--white-color);
}

.logoWrapper {
  padding-left: 170px;
}

.serviceWrapper {
  padding-right: 170px;
}

.actionWrapper {
  margin-right: 50px;
}
