.container {
  display: flex;
}

.icon {
  width: 60px;
  height: 60px;
  &:hover {
    cursor: pointer;
  }
}

.content {
  display: flex;
  align-items: center;
}

.title {
  font-size: 24px;
  color: #1976d2;
}
